


<form #form="ngForm" id="container" (ngSubmit)="signIn(form)">
  <h1>Sign Up</h1>
  <label for="email">Enter email </label>
  <input #emailInput="ngModel" email required id="email" type="text" ngModel name="email" class="form-control">
  <div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.touched">Your email is invalid!</div>

  <label for="email">Create a username</label>
  <input #usernameInput="ngModel" required id="username" type="text" ngModel name="username" class="form-control">
  <div class="alert alert-danger" *ngIf="usernameInput.invalid &&  usernameInput.touched">Your username is invalid!</div>

  <label for="pass">Password: </label>
  <input required id="pass" type="password" ngModel name="pass" class="form-control" minlength=4>


  <button [disabled]="form.invalid" class="btn btn-danger">Sign Up</button>
</form>
