/* make the navbar always on top */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  backdrop-filter: contrast(70%);
  border: #b9baaa solid 2px;
  background-color: #8a7c22;

  /* Update with your desired background color */
  /* Update with your desired text color */
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: larger;
  font-weight: bold; /* Update with your desired text color */
}

.navbar-brand i {
  margin-right: 5px;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #000; /* Update with your desired text color */
}

.nav-link:hover {
  text-decoration: underline;
  font-weight: 500;
}

.navbar-list-right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add space between icon and text */
.navbar-brand img {
  margin-right: 5px;
}

/* Add space between login/sign up options */
.nav-item a {
  margin-right: 10px;
}

.navbar-item.active a,
.nav-item.active a {
  font-weight: bold; /* or any other styling for the active link */
}
