<nav class="navbar">
  <a class="navbar-brand" [routerLink]="['']">
    <i class="fas fa-home"></i><img src="/assets/book.png" height="32px"/> Our Library
  </a>

  <ul class="navbar-list">
    <li class="navbar-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" [routerLink]="['home']">Home</a>
    </li>
    <li class="navbar-item" [routerLinkActive]="'active'">
      <a class="nav-link" [routerLink]="['events']">Events</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" [routerLink]="['library']">Library</a>
    </li>
  </ul>

  <ul class="navbar-list navbar-list-right">
    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" *ngIf="!authService.currentUserValue; else logout" [routerLink]="['signin']">Signup</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" *ngIf="!authService.currentUserValue; else logout" [routerLink]="['login']">login</a>
    </li>
    <li class="nav-item">
      <ng-template #logout>
        <a class="nav-link" (click)="authService.logout()">Logout</a>
      </ng-template>
    </li>
  </ul>
</nav>