.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

.navbar-nav {
  justify-content: center;
}

.nav-link:hover {
  color: white;
}

.navbar-brand {
  color: blue;
}
