<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Our Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['events']">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['library']">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.currentUserValue; else logout" [routerLink]="['login']">Login</a>
        <ng-template #logout>
          <a class="nav-link" (click)="authService.logout()">Logout</a>
        </ng-template>
      </li>
      <li *ngIf="currentUser.user.isAdmin" class="nav-item">
        <a class="nav-link"  [routerLink]="['admin']">admin mode</a>
      </li>
    </ul>
  </div>
</nav>
