.library-container {
  margin: center;
  border-radius: 15px;
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  backdrop-filter: contrast(30%);
  border: 1px solid #b9baaa;
  display: grid;
  grid-gap: 20px; /* spacing between squares */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* define grid columns based on book width */
  grid-auto-rows: 300px; /* minimum height of rows */
  overflow-y: auto; /* enable vertical scrolling */
}

/* Custom scrollbar styles */
.library-container::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

.library-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

.library-container::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
}

.library-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
