<div
  style="
    background-color: rgb(53, 53, 53);
    height: 500px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <img
    style="background-color: rgba(255, 255, 255, 0); width: 80%; height: auto"
    src="{{ book.coverImageUrl }}"
    alt="{{ book.title }}"
  />
</div>
<div style="background-color: blue" class="button-container">
  <!-- <button
    [ngClass]="{
      btn: true,
      'btn-outline-success': book.waitingLists.length == 0,
      'btn-outline-secondary': book.waitingLists.length > 0
    }"
  >
    {{ reserve() }}
  </button> -->
</div>
