.right {
  position: absolute;
  top: 100px; /* Adjust this value to match the height of your navbar */
  overflow: auto;
  margin-left: 30%; /* Adjust this value to match the width of your left div */
}

.left {
  position: fixed;
  overflow: hidden;
  width: 30%; /* Adjust this value to your preference */
}
