.row {
  margin: 60px 0 0 0; /* Adjust this value based on the height of your navbar */
  padding: 0;
}

.col-md-4,
.col-md-8 {
  padding: 10px; /* Reduced padding */
}

.app-reservation,
.app-about,
.app-discussion {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.app-about h2,
.app-about h3 {
  color: #333;
}

.app-discussion form {
  margin-bottom: 20px;
}
