.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #343a40;
  background-image: url("/assets/fairy_reading.png");
}

.row {
  width: 100%;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px;

}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

.page{
  background-color: burlywood;
}
